.input {
  padding: 5px;
  background-color: rgb(230, 230, 230);
}

.button {
  cursor: pointer;
}

.input,
.button {
  border-radius: 3px;
  min-width: 200px;
  max-width: 300px;
  min-height: 30px;
  max-height: 200px;
  height: 30px;
  width: 100%;
  border: none;
}

.input {
  font-size: 14px;
  color: rgb(63, 63, 63);
}
